/* 
btn colors
-#00bc8c stationary
-#009670 hover,active
*/

* {
  transition: all 0.5s;
}

.actionLink {
  background-color: #bcbc00;
  padding: 5px;
  border-radius: 10px;
  color: aliceblue;
  text-shadow: none !important;
  text-decoration: none;
  margin-right: 5px;
}
.actionLink:hover {
  color: aliceblue;
  background-color: #969300;
}

.row {
  background-color: #00bc8c;
  color: red !important;
}

td {
  transition: all 0.5s;
}

table tbody tr:hover td {
  cursor: cell;
  background-color: #00bc8c;
  text-shadow: 2px 2px 2px #009670;
}

.centerStage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  position: absolute;
}

.modifyContainer {
  display: flex;
  align-items: center;
}
